.ShopRental-container{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #243b67;
    padding: 10px;
    /* width: 80%; */
    border-radius: 10px;
    margin: 5px;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label {
    padding: 5px;
    color: beige;
}

.inputs {
    background-color: aliceblue;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
}

.btn {
    margin-top: 10px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #0ef6ccad;
    color: aliceblue;
    cursor: pointer;
    box-shadow: 1px 2px 8px 2px rgb(78, 78, 78);
}

.txt {
    color: rgb(244, 5, 5);
    text-align: center;
    margin: 5px;
}

.after-signed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.success {
    text-align: center;
    color: chartreuse;
}

.shop-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sps {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}