
.viewPatent-container {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0F2557;
    /* padding: 10px; */
    /* width: 80%; */
    border-radius: 17px;
    margin: 5px;
    
}

.txt {
    color: forestgreen;
}

.note {
    margin: 10px 70px;
    text-align: center;
    color: indianred;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label {
    padding: 5px;
    color: beige;
}

.inputz {
    background-color: aliceblue;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
}

.view-contract {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scrollbar-width: .1rem;
    /* width: 595px;
    height: 842px; */
}

.downloadPdf{
    border: none;
    background-color: springgreen;
    padding: .6rem;
    border-radius: 5px;
    cursor: pointer;
    color:aliceblue;
}
.downloadPdf:hover{
    box-shadow: 0 1px 10px 1px rgba(33, 150, 243, .4);
}

.close-btn{
    border:none;
    padding: .6rem;
    background-color: indianred;
    border-radius: 5px;
    cursor: pointer;
    margin-left: .5rem;
    color: aliceblue;
}
.close-btn:hover {
    box-shadow: 0 1px 10px 1px rgba(33, 150, 243, .4);
}