.viewShopRental-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0F2557;
    padding: 10px;
    /* width: 80%; */
    border-radius: 17px;
    margin: 5px;
}

.txt {
    color: forestgreen;
}

.rent-btn{
    border: none;
    padding: 8px 8px;
    background-color: aquamarine;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
}
.rent-btn:hover{
    box-shadow: 0 1px 10px 1px rgba(33, 150, 243, .4);
}

.note {
    margin: 10px 70px;
    text-align: center;
    color: indianred;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label {
    padding: 5px;
    color: beige;
}

.inputz {
    background-color: aliceblue;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
}

.view-contract {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.terms{
    color: aliceblue;
    padding: 0px 70px;
}